---
extends: default

rules:
  line-length:
    max: 150
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  document-start: disable
  comments:
    min-spaces-from-content: 1
  trailing-spaces: enable
  new-line-at-end-of-file: disable

ignore: |
  node_modules/
  dist/
  coverage/
  .turbo/
  pnpm-lock.yaml